<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sf.sfimagepicker">

    <application>
        <activity
            android:name=".SFPhotosActivity"
            android:theme="@style/LightStyle"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SFPhotoPreviewActivity"
            android:theme="@style/DarkStyle"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
